<template>
  <div
    class="default"
    name="routerChange"
  >
    <slot :key="route.params" />
  </div>
</template>

<script lang="ts" setup>
import { useRoute } from "vue-router";

const route = useRoute();
</script>

<style scoped>
.default {
  max-height: 100vh;
}
</style>
