<template>
  <div class="n-layout">
    <div class="card">
      <div class="top-item">
        <h3>С возвращением!</h3>
        <p>Пожалуйста, введите свои данные.</p>
      </div>
      <n-form ref="formRef" :model="model">
        <n-form-item path="name" labelStyle="color:white" label="Name">
          <n-input
            v-model:value="model.username"
            @keydown.enter.prevent
            size="large"
          />
        </n-form-item>
        <n-form-item path="password" labelStyle="color:white" label="Password">
          <n-input
            v-model:value="model.password"
            type="password"
            size="large"
            @keydown.enter.prevent
          />
        </n-form-item>
          <n-button size="large" textColor="white"  @click="handleValidateButtonClick">
            Login
          </n-button>
      </n-form>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from "vue";

import type { TLogin } from "@/type/TLogin";
import type { FormInst, FormItemInst } from "naive-ui";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
export default defineComponent({
  setup() {
    const formRef = ref<FormInst | null>(null);
    const rPasswordFormItemRef = ref<FormItemInst | null>(null);
    const modelRef = ref<TLogin>({
      username: "",
      password: "",
    });
    return {
      formRef,
      rPasswordFormItemRef,
      model: modelRef,
      handleValidateButtonClick(e: MouseEvent) {
        e.preventDefault();
        loginStore.userLogin(modelRef.value);
        console.log(modelRef.value, "formRef");
      },
    };
  },
});
</script>
<style scoped>
.n-button {
  width: 100%;
  background: #DC6803;

}
.n-layout {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dc6803;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 448px;
  height: 470px;
  background: rgba(122, 46, 14, 0.55);
  border-radius: 24px;
  padding: 44px;
}
.card h3 {
  color: white;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}
.card p {
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
}
.top-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.n-form-item span {
  background: red;
  color: white;
}
</style>
